.recorder {
  @apply w-screen flex-none;
  @apply transform transition-all duration-300 translate-x-0;

  &.active {
    @apply -translate-x-full;
  }

  &__header {
    @apply flex space-x-3 items-center;
    @apply p-3 mb-5;
    @apply border-b border-zinc-800;

    & > svg {
      @apply w-8 h-8;
      @apply cursor-pointer;
      @apply transform transition-all duration-75 scale-100;
      &:hover {
        @apply text-zinc-300;
      }
      &:focus,
      &:active {
        @apply scale-75;
      }
    }
    & > h2 {
      @apply pl-4;
      @apply border-l-2 border-zinc-800;
      @apply text-xl uppercase;
    }
  }

  &__screen {
    @apply flex items-center justify-center;
  }
  &__thumbnail {
    // @apply p-4;
    @apply border-8 border-zinc-700;
  }
}

.controls {
  @apply flex items-center justify-center;
  @apply my-3;

  &__buttons {
    @apply flex flex-col;
  }

  &__button {
    @apply flex items-center space-x-3;
    // @apply w-40;
    // @apply px-5;
    @apply w-auto;
    @apply bg-zinc-700;
    @apply rounded-lg;
    @apply text-xl uppercase;
    @apply cursor-pointer;

    & > svg {
      @apply flex-shrink-0;
      @apply w-20 h-20;
    }

    &.play {
      @apply text-green-500;
      &:hover {
        @apply text-green-400;
      }
    }
    &.stop {
      @apply text-red-500;
      animation: pulse 2s infinite;
      &:hover {
        @apply text-red-400;
      }
    }
  }

  &__timer {
    @apply text-center;
    // @apply border border-red-500;
  }
}

//keyframes animation that pulses the button and reduces opacity
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
