@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

html,
body {
  @apply overflow-hidden;
  // @apply border border-black;
}

* {
  @apply select-none;
  @apply font-montserrat;
  @apply scrollbar-thin scrollbar-thumb-pink-400 scrollbar-track-pink-400 overflow-y-scroll;
}

.layout {
  @apply flex flex-col;
  // @apply overflow-hidden;
  @apply border border-black;
  @apply h-screen;

  &__logo {
    @apply flex-none flex space-x-2 items-center;
    @apply pl-5 text-neutral-400 font-semibold;
  }
  &__draggable {
    @apply flex items-center justify-between;
    @apply h-14 bg-neutral-900;
    @apply border-b border-neutral-800;
    -webkit-app-region: drag;
  }
}

.logo__image {
  @apply flex-none;
}

.appwindow {
  @apply flex space-x-3 items-center;
  // @apply h-full;
  @apply px-5;

  -webkit-app-region: no-drag;
  & > div {
    @apply w-3.5 h-3.5;
    @apply rounded-sm;
    @apply cursor-pointer;
    &:hover {
      @apply shadow-inner;
      & > svg {
        filter: drop-shadow(1px 1px 0px #000000);
      }
    }
    &.minimize {
      @apply bg-green-600;
      @apply text-green-200;
    }
    &.expand {
      @apply bg-yellow-600;
    }
    &.close {
      @apply bg-red-600;
      @apply text-red-200;
    }
  }
}

.nodrag {
  -webkit-app-region: no-drag;
}
@keyframes slideinright {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@import "./wrapper";
@import "./menu";
@import "./container";

@import "./components/sources";
@import "./components/recorder";
